/* Colors */
$color-dark: #333333;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #979797;
$color-lightgray: #bababa;
$color-light: #E3E3E3;
$color-vlight: #F5F5F2;
$color-darkorange: #F58220;
$color-orange: #FFA200;
$color-green: #04AE00;
$color-lightgreen: #74B67A;
$color-faintgreeen: #96CC9B;
$color-darkred: #DE5252;
$color-lightred: #EC7171;
$color-steelblue: #56819F;
$color-lightsteel: #80BFCA;
$color-red: #FF0000;


/* Font sizes */
$size-vbig: 30px;
$size-btn: 18px;
$size-big: 16px;
$size-text: 14px;
$size-small: 13px;
$size-textbox: 12px;


/* Fonts */
$font-main: 'Roboto', sans-serif;
$weight-medium: 500;
$weight-bold: 700;
$weight-light: 300;

/* Radius*/

$radius: 4px;
$circle: 50%;
